@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron img-responsive">
	<h1 class="redText title">Project Belle</h1>
	<p class="lead redText titleDescription">Who Has Your Love Letter?</p>
	<p><a href="https://github.com/dsilva609/Project-Belle" class="btn btn-primary btn-lg" target="_blank">View Project In GitHub &raquo;</a></p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Game Rules</h2>
		<p>
			Basic game rules
		</p>
		<p><a class="btn btn-default" href="http://www.alderac.com/tempest/files/2012/09/Love_Letter_Rules_Final.pdf" target="_blank">View Rules &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Unofficial Rules and Card Explanations</h2>
		<p>Need help understanding the game? Looking for a better strategy? Learn how to ensure the delivery of your letter before the days of The Pony Express and USPS.</p>
		<p><a class="btn btn-default" href="https://boardgamegeek.com/boardgame/129622/love-letter" target="_blank">BoardGameGeek &raquo;</a></p>
	</div>
</div>