@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project Ariel</h1>
    <p class="lead">"I know what you're thinking, punk. You're thinking 'did he fire six shots or only five?' Now to tell you the truth I forgot myself in all this excitement. But being this is a .44 Magnum, the most powerful handgun in the world and will blow you head clean off, you've gotta ask yourself a question: 'Do I feel lucky?' Well, do ya, punk?"</p>
    <p><a href="https://github.com/dsilva609/Project-Ariel" class="btn btn-primary btn-lg" target="_blank">View Project In GitHub &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Game Rules</h2>
        <p>
            Basic game rules
        </p>
        <p><a class="btn btn-default" href="http://en.wikipedia.org/wiki/Bang!" target="_blank">View Rules &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Unofficial Rules and Card Explanations</h2>
        <p>Need help understanding the game? Looking for a better strategy? Learn how to be the rootenest tootenest cowpoke in the wild wild west.</p>
        <p><a class="btn btn-default" href="http://bangcardgame.blogspot.com" target="_blank">Saddle up! &raquo;</a></p>
    </div>
</div>