@model List<BusinessLogic.Models.Card>

<div id="topBar">
	<div class="otherPlayers">
		<div>
			Other Players
		</div>

		<div class="player " id="player1">
			Player 1
		</div>

		<div class="player" id="player2">
			Player 2
		</div>

		<div class="player" id="player3">
			Player 3
		</div>
	</div>

	<div class="burnedCards">
		Burned Cards
	</div>
</div>

<div class="deckArea">
	<div>
		Deck
	</div>
</div>

<div id="playerBar">
	<div class="playedCards">
		Played Cards
	</div>

	<div class="turnOrder">
		<div>
			Turn Order
		</div>

		<div>
			1. Draw
		</div>

		<div>
			2. Play
		</div>

		<div>
			3. Resolve
		</div>
	</div>

	<div class="mainPlayer">
		<div class="hand">
			Hand
		</div>

		<div class="tokensOfAffection">
			Tokens Of Affection
		</div>
	</div>
</div>
