/* latin */
@font-face {
  font-family: 'Arizonia';
  font-style: normal;
  font-weight: 400;
  src: local('Arizonia'), local('Arizonia-Regular'), url(http://fonts.gstatic.com/s/arizonia/v6/PwrsyFTYH2Wmsvpn0dx4s_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

.bold {
	font-weight: bold !important;
}

.removePaddingLeftRight {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.table .row:not(:first-child):hover {
	background-color: ButtonShadow;
	cursor: pointer;
}

.btn-link {
	height: 20px;
	vertical-align: top;
	padding: 0;
	margin-top: -1px;
}

.card {
	background-color: saddlebrown;
	float: left;
	width: 100px;
	height: 100px;
	border: double;
	z-index: 1;
}

#droppable {
	float: left;
	z-index: 0;
}

.green {
	background-color: forestgreen !important;
}

.centerPiece {
	background-color: red;
	text-align: center;
	width: 350px;
	height: 200px;
	margin-left: 33%;
}

.deck {
	background-color: gray;
	width: 100px;
	height: 125px;
	margin: 30px;
}

.discard {
	background-color: gray;
	width: 100px;
	height: 125px;
	margin: -155px 0 0 220px;
}

.mainPlayer {
	background-color: violet;
	text-align: center;
	width: 600px;
	height: 200px;
	margin: 20%;
}

.redText {
	color: red !important;
	font-family: "Arizonia";
	font-size: large !important;
}
.title {
	font-size: 75px !important;
}

.titleDescription {
	font-size: 30px !important;
	margin-left: 200px !important;
}